{% extends 'base.html' %}
<!-- base.htmlを継承している-->

{% block title %}{{ object.title }}{% endblock %}
<!-- これがbase.htmlのblock titleのところに入る -->

{% block h1 %}書籍詳細{% endblock %}
<!-- これがbase.htmlのblock h1のところに入る -->

{% block content %}
  <div class="p-4 m-4 bg-light border border-success rounded">
    <h2 class="text-success">{{ object.title }}</h2>
    <!--object_listのtitle要素が入る。models.pyのBookクラスのtitleで定義したもの-->
    <p>{{ object.text }}</p>

    <a href="{% url 'list-book' %}" class="btn btn-primary">一覧へ</a>
    <a href="{% url 'review' object.pk %}" class="btn btn-primary">レビューする</a>
    <a href="{% url 'update-book' object.pk %}" class="btn btn-primary">編集する</a>
    <a href="{% url 'delete-book' object.pk %}" class="btn btn-primary">削除する</a>
    <!--各リンクボタンの追加-->

    <h6 class="card-title">{{ object.category }}</h6>
    <!--object_listのcategory要素が入る。models.pyのBookクラスのcategoryで定義したもの-->
  </div>
{% endblock content %}